* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
body{
    background-color: #161618;
    font-family: "Inter", serif;
}

/* Nav Section */
nav{
    font-size: 14.4px;
    font-weight: 500;
    line-height: 21px;
    border-bottom: 1px solid #2E2E32;
    background-color: #161618;
}
.nav-link{
    color: #F7F8F8 !important;
}
#signUp{
    padding: 5px 12px;
    border-radius: 20px;
    background-color: #5E6AD2;
    color: #F7F8F8;
    width: 85px;
    border: none;
}

/* Intro Section */
#intro>img{
    top: 150px;
    width: 70vw;
}
#intro>h5{
    background-image: linear-gradient(180deg, #FF9466 0%, #FF4D00 100%), linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14.5px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 2.7999px;
    margin-top: 410px;
}
#intro>h4{
    margin-top: 50px;
    color: #F5F5F5;
    font-size: 52.2px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
}
#intro>p{
    font-size: 18.2px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.3700000047683716px;
    color: #F5F5F5;
    margin-top: 20px    ;
}
.video-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    max-width: 60%; /* or any desired width */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; 
}

video {
    width: 100%;
    display: block;
}

.play-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%; /* Vertically center */
    left: 50%; /* Horizontally center */
    padding: 10px 20px;
    font-size: 18px;
    color: #161618;
    background-color: #F7F8F8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-button:hover {
    background-color: #f7f8f88f
}

/* SLACK SECTION */
.secHeader{
    margin: 0 6vw 2vh 6.5vw;
    color: #99BCFE;
    border-bottom: 1px solid #2E2E32;
}
#slackContent1{
    margin: 40px 6vw 2vh 6.5vw;
}
.slack-text{
    color: #F5F5F5;
}
.slack-text>div>h5{
    font-size: 29.6px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.6899999976158142px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.slack-text>div>p{
    font-size: 16.9px;
    font-weight: 400;
    line-height: 24.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#slackImgContainer1{
    height: 100%;
    width: 100%;
}
.slack1 {
    box-shadow: 
        0px 18.04px 40px 0px #00000033,
        0px 72.94px 72.94px 0px #0000002B,
        0px 163.92px 98.82px 0px #0000001A,
        0px 291.77px 116.86px 0px #00000008,
        0px 455.69px 127.84px 0px #00000000;
    border: 1px solid #3E3E44;
    border-radius: 20px;
}
.slack2{
    width: 95%;
}
.lightbluetext{
    color: #99BCFE;
}
.whitetext{
    color: #F7F8F8;
}
.gridSmallText{
    font-size: 15.1px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.1599999964237213px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.gridLargeText{
    font-size: 20.5px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.3700000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#grid1>div{
    height: auto;

}
#grid1>div:nth-child(1){
    background: linear-gradient(45deg, #313A60 0%, #4E5C6E 100%);
    width: 57.333333%;
    overflow: hidden;
}
#grid1>div:nth-child(2){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    width: 40.666667%
}
#grid1>div:nth-child(3){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    width: 48%;
}
#grid1>div:nth-child(4){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    width: 50%;
}

/* LINEAR SECTION */


#grid2>div{
    height: auto;
    width: auto;
    overflow: hidden;
}
.linear1{
    border: 1px solid #3E3E44;
    border-radius: 10px;
    box-shadow: 0px 18.04px 40px 0px #00000033,
            0px 72.94px 72.94px 0px #0000002B,
            0px 163.92px 98.82px 0px #0000001A,
            0px 291.77px 116.86px 0px #00000008,
            0px 455.69px 127.84px 0px #00000000;
}
.linear1_2{
    position: relative;
    right: 15%;
    top: 40%;
}
.linear1_1{
    position: relative;
    bottom: 2%;
}
#grid2>div:nth-child(2){
    background: linear-gradient(45deg, #32346A 0%, #4E4F75 100%);
    width: 55.333333%;
}
#grid2>div:nth-child(1){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    width: 40.666667%;
}
.lightpurpletext{
    color: #828FFF;
}
#grid2>div:nth-child(3){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, #2e2e344d 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    background-image: url("/image/linear3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 370px;
    width: 48%;
}
#grid2>div:nth-child(4){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
    linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    width: 48%;
    height: 370px;
}
#grid2>div:nth-child(5){
    width: 90%;
    border: 1px solid #FFFFFF0D
    ;
    padding-left: 0 !important;
    border-radius: 35px;
    box-shadow: 0px 23px 51px 0px #00000033,
                0px 93px 93px 0px #0000002B,
                0px 209px 126px 0px #0000001A,
                0px 372px 149px 0px #00000008,
                0px 581px 163px 0px #00000000;
}   
.Linear5    {
    mask-image: linear-gradient(90deg, #000000 50%, rgba(0, 0, 0, 0) 100%);
}
article:has(#linearSpan){
    color: #F7F8F8;
    font-size: 20.5px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4699999988079071px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 90%;
}
#linearSpan{
    color: #FFFFFF99;
}

/* WORKFLOWS SECTION */

#Workflows{
    color: #8A8F98;
    font-size: 12.8px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
div:has(.workflow1){
    overflow: hidden;
}
.workflow1{
    box-shadow: 0px 18.04px 40px 0px #00000033,
                0px 72.94px 72.94px 0px #0000002B,
                0px 163.92px 98.82px 0px #0000001A,
                0px 291.77px 116.86px 0px #00000008,
                0px 455.69px 127.84px 0px #00000000;
    padding: 0;
}
.workflow1>img{
    position: relative;
}
.workflow1>img:last-child{
    width: 100%;
    bottom: 31%;
    left: 60%;
    z-index: 1;
}
#workflowSpan{
    border: 1px solid #5E6AD2;
    border-radius: 10px;
    background: #5E6AD2;
}
h5:has(#workflowSpan){
    font-size: 15.1px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.1599999964237213px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.workflowtext1{
    font-size: 210.5%;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.3700000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;     
    color: #89D4C7;

}
.workflow1>img:first-child{
    width: 141%;
    top: 11%;
    right: 40%; 
    z-index: 2;
}
#grid3>div{
    height: 412px;

}
#grid3>div:nth-child(1){
    background: no-repeat linear-gradient(225deg, #4F5D5F 40%, #333E58 100%);
    width: 55.333333%;
}
#grid3>div:nth-child(2){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    width: 40.666667%;
    overflow: hidden;
}
#grid3>div:nth-child(2)>img{
    height: 50%;
    position: relative;
    left: 40%;
}
#grid3>div:nth-child(2)>h6{
    margin-top: 4rem;
    color: #8A8F98;
    font-size: 15.1px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.1599999964237213px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#grid3>div:nth-child(2)>h6>span{
    padding: 2.8px 4.86px 2.2px 5px;
    border-radius: 4px;
    color: #F7F8F8;
    opacity: 0px;
    background: #5E6AD2;
    border: 1px solid #5E6AD2
}
#grid3>div:nth-child(2)>h4{
    color: #F7F8F8;
    font-size: 20.5px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.3700000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#grid3>div:nth-child(2)>h4, #grid3>div:nth-child(2)>h6{
    margin-left: 2rem;
}
#grid3>div:nth-child(3){
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
    width: 98%;
    height: auto;
}
#grid3>div:nth-child(3)>div>img{
    background-position: center;
}
#grid3>div:nth-child(3)>div>div>h6{
    margin-top: 3rem;
    color: #8A8F98;
    font-size: 15.1px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.1599999964237213px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#grid3>div:nth-child(3)>div>div>h4{
    color: #F7F8F8;
    font-size: 20.5px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.3700000047683716px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#grid3>div:nth-child(3)>div>div>h6, #grid3>div:nth-child(3)>div>div>h4{
    margin-left: 4rem;
}
/* USAGE SECTION */
#usage{
    margin-top: 10%;
}
#usage>header>h1{
    color: #F7F8F8;
}
#usage>header>p{
    color: #D0D6E0;
}
#flex1wrapper{
    margin: 70px 100px 50px 100px;
}
#flex1{
    height: 820px;
}
.flex-item{
    background: linear-gradient(180deg, rgba(35, 35, 38, 0.3) 0.01%, rgba(46, 46, 52, 0.3) 100%),
linear-gradient(180deg, rgba(35, 35, 38, 0.4) 0.01%, rgba(46, 46, 52, 0.4) 100%);
}
.small-sized{
    height: 350px;
}
.large-sized{
    height: 400px;
}
#flex1>div>div>h6{
    color: #8A8F98;
}
#flex1>div>div>p{
    color: #F7F8F8;
}


/* TRIAL SECTION */
#trial>h1{
    font-size: 37.3px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.6000000238418579px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F7F8F8;
}
#trial>p{
    font-size: 20.2px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3700000047683716px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D0D6E0;
}
#trial>button{
    border: none;
    background-color: #5E6AD2;
    color: #ffffff;
    font-size: 15.9px;
    font-weight: 500;
    line-height: 48px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
#trial>dd{
    font-size: 11.8px;
    font-weight: 400;
    line-height: 17px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #8A8F98;
}


/* FOOTER SECTION */
footer{
    border-top: 1px solid #2E2E32;
    color: #d1d1d1; /* Light text color for better contrast */
    padding: 2rem 1rem;
}
footer a {
    color: #d1d1d1;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.footer-icon {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #d1d1d1;
    transition: color 0.3s ease;
}
.footer-icon:hover {
    color: #ffffff;
}
#LinearFooter{
    margin-bottom: 12rem;
}
.footerHeaders{
    font-size: 13.9px;
    font-weight: 500;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D0D6E0;
}
.footerItems{
    font-size: 14.1px;
    font-weight: 400;
    line-height: 21px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #8A8F98;
}
li:has(.footerItems){
    margin-bottom: .5rem;
}

@media (max-width: 992px){
    nav>div{
        justify-content: space-between;
    }
    #navWrapper{
        margin: 20PX !important;
        width: 100%;
        flex-flow: wrap;
    }
    #navWrapper>a{
        margin-right: 1px;
    }
    #signUp{
        margin: 0 !important;
    }
    .video-container{
        max-width: 90%;
    }
    .play-button{
        font-size: 12px;
    }

    #grid1>div, #grid3>div{
        width: 100% !important;
    }

    div:has(.flex-item){
        width: auto;
    }
    #flex1wrapper{
        margin: 70px 0px 50px 0px;
    }
    .small-sized, .large-sized{
        height: auto;
    }

    #trial{
        margin: 0px 20px 50px 20px;
    }

    #LinearFooter {
        margin-bottom: 2rem;
    }
    .footerHeaders, li:has(.footerItems){
        text-align: center;
    }
    #footersocials{
        justify-content: center;
        margin-bottom: 2rem;
    }
}
@media (max-width: 770px){
 #grid2>div{
    width: 100% !important;
 }   
 #flex1wrapper{
    display: none;
}
#grid2>div:nth-child(5){
    display: none;
}
.small-sized{
    height: 350px;
}
.large-sized{
    height: 400px;
}
}